<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Articles list </title>
</head>
<body>
    {% if articles %}
        {% for article in articles %}
            <p><h3>Title: {{ article.title }}</h3></p>
            <p>Publication: {{ article.pub_date }}</p>
            <p>Author name: {{ article.author.name }}</p>
            <p>Category: {{ article.category.name }}</p>
            <p>Tags:
                {% for tag in article.tags.all %}
                {{ tag.name }}
                {% endfor %}</p>
        {% endfor %}

    {% else %}
        <h1>No articles</h1>
    {% endif %}

    <div>
        <a href="{% url 'blogapp:create_article' %}"
        >Create a new article</a>
    </div>
</body>
</html>